5
Tuan Hak
passTuanHak
Ini bio lho
081
Pahing
Privat
R * R * R * R * R *
R * G @ B * G @ R *
R * G @ G @ G @ R *
R * G @ B * G @ R *
R * R * R * R * R *
Tuan Vin
passTuanVin
           
08
      
Publik
R * R * R * R * R *
R * R * R * R * R *
R * R * R * R * R *
R * R * R * R * R *
R * R * R * R * R *
Tuan Bri
passTuanBri



Publik
R * R * R * R * R *
R * R * R * R * R *
R * R * R * R * R *
R * R * R * R * R *
R * R * R * R * R *
Tuan Bus
passTuanLer
HALO SEMUANYA
081278647521
Kliwon
Privat
R * R * R * R * R *
R * G @ B * G @ R *
R * G @ G @ G @ R *
R * G @ B * G @ R *
R * R * R * R * R @
Tuan Man
NGASAL
AFFA IYAHH        
0801293912230187777777777371232081737012371273721377263640324603276983538745034656035134085
      
Publik
R * R * R * R * R *
R * R * R * R * R *
R * R * R * R * R *
R * R * R * R * R *
R * R * R * R * R *
1 0 1 0 0
0 1 0 0 0
1 0 1 0 0
0 0 0 1 1
0 0 0 1 1
2
2 1 6675
4 1 1